.loan-calculator__calculator_wrapper .v-application {
  font-family: 'SF-UI', sans-serif !important;
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 400 !important;
  color: #1d1d1d;
  box-shadow: 0px 4px 20px rgba(192, 192, 192, 0.18);
  border-radius: 24px;
}

.loan-calculator__calculator_wrapper .v-application--wrap {
  min-height: 0;
}

.loan-calculator__title {
  font-size: 32px;
  line-height: 1.31;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.loan-calculator__label {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 10px;
}

.loan-calculator__period {
  margin-top: 16px;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 1.2;
}

.loan-calculator__period--amount {
  font-size: 32px;
}

.loan-calculator__field {
  caret-color: #1d1d1d !important;
  border-radius: 10px;
}

.loan-calculator__field--empty {
  caret-color: rgba(29, 29, 29, 0.2) !important;
}

.loan-calculator__field input {
  max-height: none;
  font-size: 14px;
  line-height: 1;
  color: #1d1d1d;
}

.loan-calculator__field fieldset {
  color: #1d1d1d !important;
  border: solid 1px !important;
  transition: all 0.3s !important;
}

.loan-calculator__field.loan-calculator__field--empty fieldset {
  color: rgba(29, 29, 29, 0.1) !important;
}

.loan-calculator__field.v-input--is-focused fieldset {
  color: #F7B733 !important;
  -webkit-box-shadow: 0 0 0 3px rgb(247 183 51 / 48%);
  box-shadow: 0 0 0 3px rgb(247 183 51 / 48%);
}

.loan-calculator__field.error--text fieldset {
  color: #ff5252 !important;
}

.loan-calculator__field.v-input--is-focused.error--text fieldset {
  -webkit-box-shadow: 0 0 0 3px rgb(255 82 82 / 48%);
  box-shadow: 0 0 0 3px rgb(255 82 82 / 48%);
}

.loan-calculator__field .v-input__slot {
  min-height: 48px !important;
  padding: 0 20px !important;
}

.loan-calculator__field input::placeholder,
.loan-calculator__field .v-text-field__prefix {
  color: rgba(29, 29, 29, 0.2);
  font-weight: 400;
  font-family: 'SF-UI', sans-serif;
}

.loan-calculator__field > .v-input__control > .v-input__slot:before {
  border-color: #F0F5FA !important;
}

.loan-calculator__field .v-text-field__prefix {
  font-size: 14px;
  line-height: 1;
  padding-right: 0 !important;
  font-weight: 400;
  font-family: 'SF-UI', sans-serif;
  color: #1d1d1d;
}

.loan-calculator__field input::placeholder,
.loan-calculator__field--empty .v-text-field__prefix {
  color: rgba(29, 29, 29, 0.2) !important;
}

.loan-calculator__interface {
  margin-bottom: 65px;
}

.loan-calculator__interface .loan-calculator__fieldgroup:not(:last-child) {
  padding-bottom: 2px;
}

.loan-calculator__interface .loan-calculator__fieldgroup:last-child {
  width: calc(100% - 10px);
  margin: auto;
}

.loan-calculator__footer {
  background-color: #F7F7F7;
  background-image: url(https://uploads-ssl.webflow.com/6303359ee8dad04794bf3f98/63401f224bbe0891e56206ef_footer.png);
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  letter-spacing: -0.01em;
}

.loan-calculator__footer_result
.loan-calculator__label {
  font-size: 18px;
  line-height: 1.33;
}

.loan-calculator__footer_value {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
}

.loan-calculator__footer_value--amount {
  font-size: 32px;
  line-height: 1.19;
}

.loan-calculator__footer_link {
  display: block;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  background-color: #F58220;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 600;
  color: #fff !important;
  text-decoration: none;
  transition: background-color 0.3s;
}

.loan-calculator__footer_link:hover,
.loan-calculator__footer_link:focus {
  background-color: #2AACE2;
}

.loan-calculator-app .loan-calculator__slider,
.loan-calculator-app .loan-calculator__slider .v-slider--horizontal {
  margin: 0;
}

.loan-calculator-app .loan-calculator__slider
.v-slider__track-container {
  height: 4px !important;
  margin: 0 -5px;
  width: calc(100% + 10px);
  border-radius: 100px !important;
  overflow: hidden !important;
}

.loan-calculator-app .loan-calculator__slider
.v-slider__track-container .v-slider__track-background,
.loan-calculator-app .loan-calculator__slider
.v-slider__ticks-container .v-slider__track-background {
  background-color: rgba(29, 29, 29, 0.1) !important;
}

.loan-calculator-app .loan-calculator__slider .v-input__slot {
  margin-bottom: 0 !important;
}

.loan-calculator-app .loan-calculator__slider .v-messages {
  display: none;
}

.loan-calculator-app .loan-calculator__slider
.v-slider__thumb::before,
.loan-calculator-app .loan-calculator__slider
.v-slider__thumb::after {
  display: none !important;
}

.loan-calculator-app .loan-calculator__slider
.v-slider__thumb {
  width: 20px;
  height: 20px;
  left: -10px;
  background-color: #fff !important;
  border: solid 4px #1d1d1d !important;
}

.loan-calculator-app .loan-calculator__slider
.v-slider__ticks-container {
  width: calc(100% + 10px);
  transform: translateX(-5px);
}

.loan-calculator-app .loan-calculator__slider
.v-slider__tick-label {
  font-size: 12px;
  line-height: 1.5;
  padding: 7px 0;
  color: #4A4A4A;
  opacity: 0.8;
}
