.purejs-parallax {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  -o-transition: transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  position: relative;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  will-change: transform;
}

.purejs-vertical {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.purejs-horizontal {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.purejs-mousemove {
  -webkit-transition: -webkit-transform .9s;
  transition: -webkit-transform .9s;
  -o-transition: transform .9s;
  transition: transform .9s;
  transition: transform .9s, -webkit-transform .9s;
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
